html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Source Code Pro';
    font-size: 14px;
}

header {
    color: #00FF00;
    padding: 0px 10px;
}

.clock {
    position: relative;
    float: left;
    top: 50px;
}

.name-box__container {
    display: block;
    padding-top: 10px;
    float: right;
}

.name-box {
    margin: 0;
    cursor: pointer;
}

hr {
    margin: 0;
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
    padding: 0;
    color: #00FF00;
    clear: both;
}
