html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Source Code Pro';
    font-size: 14px;
}

header {
    color: #00FF00;
    padding: 0px 10px;
}

.clock {
    position: relative;
    float: left;
    top: 63px;
}

.name-box__container {
    display: block;
    padding-top: 10px;
    float: right;
}

.name-box {
    margin: 0;
    cursor: pointer;
}

.terminal__container {
    padding: 5px 5px 0px 5px;
}

.terminal-box {
    width: 100%;
    float: left;
}

.terminal-box::before {
    position: relative;
    float: left;
    left: 0px;
    padding-top: 2px;
    content: '[sergiouve.github.io] $ ';
    color: #00FF00;
}

.terminal-input {
    display: block;
    background-color: #000;
    color: #00FF00;
    border-width: 0px;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    overflow: visible;
}

hr {
    margin: 0;
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
    padding: 0;
    color: #00FF00;
    clear: both;
}
