$font-color: #FFF;
$main-font-family: 'Source Code Pro';

html, body {
    margin: 0;
    height: 100vh;
}

#page {

    font-family: $main-font-family;

    padding-top: 100px;
    height: 100%;
    width: 100%;
    color: $font-color;

    background: linear-gradient(230deg, #229cd4, #023451);
    background-size: 400% 400%;

    -webkit-animation: animation 70s ease infinite;
    -moz-animation: animation 70s ease infinite;
    animation: animation 70s ease infinite;

    @-webkit-keyframes animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

.container--title {
    font-size: 50px;
}

.container--buttons {
    margin-top: 70px;
}

.wrapper--buttons {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 2px solid $font-color;
    color: $font-color;
    padding: 10px 25px;
    font-weight: 600;
    font-stretch: semi-expanded;
    margin-left: 15px;

    &:hover, &.active {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.container--sections {
    margin-top: 80px;
    width: 100%;
    height: 500px;
}

.container--section {
    position: absolute;
    display: none;
    margin: auto;
    right: 0;
    left: 0;
    width: 600px;

    &.active { display: block; }
}
