* { transition: all .33s ease; }

.back-link {
  position: absolute;
  top: 5px;
  left: 10px;
}

.section__container {
  display: none;
  opacity: 0;
  transition: all .33s ease;

  &.active {
    display: block;
    opacity: 1;
  }
}
