.button {
  background-color: $white;
  color: $grey-dark;
  border-radius: 0;
  border: 1px solid $grey;
  transition: all .33s ease;
  padding: 10px 15px;
  min-width: 100px;

  &:hover {
    border-color: $aqua;
    color: $aqua;
  }

  &.active {
    background-color: $aqua;
    color: $white;
    border-color: $aqua;
  }
}
