
/* Color variables */

$dark-theme-main-color: #000;
$dark-theme-secondary-color: #00FF00;
$dark-theme-tertiary-color: #FFF;
$dark-theme-pano-color: #111;
$dark-theme-terminal-background: #222;

$light-theme-main-color: #FFF;
$light-theme-secondary-color: #000;

/* Font variables */

$main-font-size: 13px;
$main-font-family: 'Source Code Pro';
$terminal-font-size: 12px;

/* Grid variables */

$lateral-pano-width: 240px;

/* Common styles */

html, body {
    margin: 0;
    padding: 0;
    background-color: $dark-theme-main-color;
    font-size: $main-font-size;
    font-family: $main-font-family;
    color: $dark-theme-secondary-color;
}

body {
    height: 100%;
    width: 100%;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px;
    overflow: hidden;
}

.pano--lateral {
    position: relative;
    float: left;
    height: 25vh;
    width: $lateral-pano-width;
    background-color: $dark-theme-pano-color;
    padding: 0px 10px;
    color: $dark-theme-secondary-color;

    a {
        color: $dark-theme-secondary-color;

        &:hover {
            text-decoration: none;
        }
    }
}

.pano--lateral__bottom-list {
    position: absolute;
    bottom: 0px;
}

.terminal--section {
    background-color: $dark-theme-terminal-background;
    position: relative;
    overflow-y: hidden;
    float: left;
    margin-left: 50px;
    width: 100vh;
    height: 85vh;
    padding-left: 10px;
    font-size: $terminal-font-size;
}

.clock {
    position: relative;
    float: left;
    top: 63px;
}

.terminal__container {
    padding: 10px 5px 0px 5px;
}

.terminal-box {
    width: 100%;
    float: left;
}

.terminal-box::before {
    position: relative;
    float: left;
    left: 0px;
    padding-top: 2px;
    content: '[sergiouve.github.io] $ ';
    color: #00FF00;
}

.terminal-input {
    display: block;
    box-sizing: border-box;
    border-width: 0px;
    overflow: visible;
    float: left;
    padding-left: 5px;
    background-color: transparent;
    color: #00FF00;
    font-size: $terminal-font-size;
}

.output {
    color: white;
    width: 100%;
    float: left;
}
